<div class="CodeMirror-hscrollbar" tabindex="-1" cm-not-content="true"><div style="height: 100%; min-height: 1px; width: 0px;"></div></div,
<cr-button id="addShortcut" tabindex="0" noink="" aria-disabled="false" role="button"><div class="tile-icon"><div id="addShortcutIcon" draggable="false"></div></div><div class="tile-title"><span>Kısayol ekle</span></div></cr-button>
